# Unreal
Binaries/
Intermediate/
Saved/
DerivedDataCache/
TP_ThirdPerson_Preview.png

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xccheckout

*.xcsettings

*.xcscheme

*.plist

*.sdf

# Visual studio
*.opensdf
*.suo
*.vcxproj.user