Binaries/
Intermediate/
Saved/
DerivedDataCache/
TP_ThirdPerson_Preview.png
*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xccheckout

*.xcsettings

*.xcscheme

*.plist

*.sdf

*.opensdf

*.suo

*.vcxproj.user