<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21D9D0723294109053C165D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A0CBF10248C211A6964760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDC84F240C130AC4F53FC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5628470F317DFBC0AC94CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A642C9A4EACF852E707BE498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
